In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~edi (C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages)
WARNING: Ignoring invalid distribution ~edi (C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages)
WARNING: Ignoring invalid distribution ~edi (C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\User\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install pycaret

Requirement already satisfied: pycaret in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.3.2)
Requirement already satisfied: ipython>=5.5.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (8.27.0)
Requirement already satisfied: ipywidgets>=7.6.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (8.1.5)
Requirement already satisfied: tqdm>=4.62.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (4.66.5)
Requirement already satisfied: numpy<1.27,>=1.21 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (1.26.4)
Requirement already satisfied: pandas<2.2.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (2.1.4)
Requirement already satisfied: jinja2>=3 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (3.1.4)
Requirement already satisfied: scipy<=1.11.4,>=1.6.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (1.11.4)
Requirement already satisfied: joblib<1.4,>=1.2.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (1.3.2)
Requirement already satisfied: scikit-learn>1.4.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (1.4.2)
Requirement already satisfied: pyod>=1.1.3 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (2.0.3)
Requirement already satisfied: imbalanced-learn>=0.12.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (0.13.0)
Requirement already satisfied: category-encoders>=2.4.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (2.7.0)
Requirement already satisfied: lightgbm>=3.0.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (4.6.0)
Requirement already satisfied: numba>=0.55.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (0.61.0)
Requirement already satisfied: requests>=2.27.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (2.32.3)
Requirement already satisfied: psutil>=5.9.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (6.0.0)
Requirement already satisfied: markupsafe>=2.0.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (2.1.5)
Requirement already satisfied: importlib-metadata>=4.12.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (8.5.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (5.10.4)
Requirement already satisfied: cloudpickle in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (3.1.1)
Requirement already satisfied: deprecation>=2.1.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (2.1.0)
Requirement already satisfied: xxhash in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (3.5.0)
Requirement already satisfied: matplotlib<3.8.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (3.7.5)
Requirement already satisfied: scikit-plot>=0.3.7 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (0.3.7)
Requirement already satisfied: yellowbrick>=1.4 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (1.5)
Requirement already satisfied: plotly>=5.14.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (5.24.1)
Requirement already satisfied: kaleido>=0.2.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (0.2.1)
Requirement already satisfied: schemdraw==0.15 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (0.15)
Requirement already satisfied: plotly-resampler>=0.8.3.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (0.10.0)
Requirement already satisfied: statsmodels>=0.12.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (0.14.4)
Requirement already satisfied: sktime==0.26.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (0.26.0)
Requirement already satisfied: tbats>=1.1.3 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (1.1.3)
Requirement already satisfied: pmdarima>=2.0.4 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pycaret) (2.0.4)
Requirement already satisfied: packaging in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sktime==0.26.0->pycaret) (24.1)
Requirement already satisfied: scikit-base<0.8.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sktime==0.26.0->pycaret) (0.7.8)
Requirement already satisfied: patsy>=0.5.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from category-encoders>=2.4.0->pycaret) (1.0.1)
Requirement already satisfied: sklearn-compat<1,>=0.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from imbalanced-learn>=0.12.0->pycaret) (0.1.3)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from imbalanced-learn>=0.12.0->pycaret) (3.5.0)
Requirement already satisfied: zipp>=3.20 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from importlib-metadata>=4.12.0->pycaret) (3.21.0)
Requirement already satisfied: decorator in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=5.5.0->pycaret) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=5.5.0->pycaret) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=5.5.0->pycaret) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=5.5.0->pycaret) (2.18.0)
Requirement already satisfied: stack-data in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=5.5.0->pycaret) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=5.5.0->pycaret) (5.14.3)
Requirement already satisfied: typing-extensions>=4.6 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=5.5.0->pycaret) (4.12.2)
Requirement already satisfied: colorama in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=5.5.0->pycaret) (0.4.6)
Requirement already satisfied: comm>=0.1.3 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.2)
Requirement already satisfied: widgetsnbextension~=4.0.12 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipywidgets>=7.6.5->pycaret) (4.0.13)
Requirement already satisfied: jupyterlab-widgets~=3.0.12 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipywidgets>=7.6.5->pycaret) (3.0.13)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<3.8.0->pycaret) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<3.8.0->pycaret) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<3.8.0->pycaret) (4.56.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<3.8.0->pycaret) (1.4.8)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<3.8.0->pycaret) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<3.8.0->pycaret) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<3.8.0->pycaret) (2.9.0.post0)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nbformat>=4.2.0->pycaret) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nbformat>=4.2.0->pycaret) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nbformat>=4.2.0->pycaret) (5.7.2)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from numba>=0.55.0->pycaret) (0.44.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<2.2.0->pycaret) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<2.2.0->pycaret) (2024.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly>=5.14.0->pycaret) (9.0.0)
Requirement already satisfied: dash>=2.9.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (2.18.2)
Requirement already satisfied: orjson<4.0.0,>=3.8.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (3.10.15)
Requirement already satisfied: tsdownsample>=0.1.3 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (0.1.4.1)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pmdarima>=2.0.4->pycaret) (3.0.12)
Requirement already satisfied: urllib3 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pmdarima>=2.0.4->pycaret) (2.2.3)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pmdarima>=2.0.4->pycaret) (75.8.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.27.1->pycaret) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.27.1->pycaret) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.27.1->pycaret) (2024.8.30)
Requirement already satisfied: Flask<3.1,>=1.0.4 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (3.0.3)
Requirement already satisfied: Werkzeug<3.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (3.0.6)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (5.0.0)
Requirement already satisfied: retrying in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.3.4)
Requirement already satisfied: nest-asyncio in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.6.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.20.0)

WARNING: Ignoring invalid distribution ~edi (C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages)
WARNING: Ignoring invalid distribution ~edi (C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages)
WARNING: Ignoring invalid distribution ~edi (C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\User\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
from pycaret.regression import *

In [4]:
import pandas as pd

df = pd.read_excel("data\data.xlsx")
df

,Unnamed: 0,timestamp,timezone,humidity,pm_10,pm_2_5,temperature
0,0,2021-02-11 12:00:00,Asia/Bangkok,72.026242,11.666667,10.563218,30.703949
1,1,2021-02-11 13:00:00,Asia/Bangkok,71.049230,10.465517,9.500000,30.923300
2,2,2021-02-11 14:00:00,Asia/Bangkok,68.774313,33.646552,24.765217,31.392388
3,3,2021-02-11 15:00:00,Asia/Bangkok,66.983002,11.017241,10.025862,32.060417
4,4,2021-02-11 16:00:00,Asia/Bangkok,69.181462,10.241379,9.465517,31.455106
...,...,...,...,...,...,...,...
34628,34628,2025-02-04 12:00:00,Asia/Bangkok,67.834877,11.245098,10.660550,30.570333
34629,34629,2025-02-04 13:00:00,Asia/Bangkok,66.052356,10.697248,9.884956,31.261232
34630,34630,2025-02-04 14:00:00,Asia/Bangkok,65.621773,8.981651,8.211009,30.837054
34631,34631,2025-02-04 15:00:00,Asia/Bangkok,65.999547,6.864865,6.314815,30.763442
34632,34632,2025-02-04 16:00:00,Asia/Bangkok,66.354843,8.260000,7.132075,31.002684

In [5]:
df = df.drop(columns=["Unnamed: 0"])
df

,timestamp,timezone,humidity,pm_10,pm_2_5,temperature
0,2021-02-11 12:00:00,Asia/Bangkok,72.026242,11.666667,10.563218,30.703949
1,2021-02-11 13:00:00,Asia/Bangkok,71.049230,10.465517,9.500000,30.923300
2,2021-02-11 14:00:00,Asia/Bangkok,68.774313,33.646552,24.765217,31.392388
3,2021-02-11 15:00:00,Asia/Bangkok,66.983002,11.017241,10.025862,32.060417
4,2021-02-11 16:00:00,Asia/Bangkok,69.181462,10.241379,9.465517,31.455106
...,...,...,...,...,...,...
34628,2025-02-04 12:00:00,Asia/Bangkok,67.834877,11.245098,10.660550,30.570333
34629,2025-02-04 13:00:00,Asia/Bangkok,66.052356,10.697248,9.884956,31.261232
34630,2025-02-04 14:00:00,Asia/Bangkok,65.621773,8.981651,8.211009,30.837054
34631,2025-02-04 15:00:00,Asia/Bangkok,65.999547,6.864865,6.314815,30.763442
34632,2025-02-04 16:00:00,Asia/Bangkok,66.354843,8.260000,7.132075,31.002684

In [6]:
df = df[(df['pm_2_5'] > 0) & (df['pm_2_5'] <= 100)]

df = df[(df['pm_10'] > 0) & (df['pm_10'] <= 100)]
df

,timestamp,timezone,humidity,pm_10,pm_2_5,temperature
0,2021-02-11 12:00:00,Asia/Bangkok,72.026242,11.666667,10.563218,30.703949
1,2021-02-11 13:00:00,Asia/Bangkok,71.049230,10.465517,9.500000,30.923300
2,2021-02-11 14:00:00,Asia/Bangkok,68.774313,33.646552,24.765217,31.392388
3,2021-02-11 15:00:00,Asia/Bangkok,66.983002,11.017241,10.025862,32.060417
4,2021-02-11 16:00:00,Asia/Bangkok,69.181462,10.241379,9.465517,31.455106
...,...,...,...,...,...,...
34628,2025-02-04 12:00:00,Asia/Bangkok,67.834877,11.245098,10.660550,30.570333
34629,2025-02-04 13:00:00,Asia/Bangkok,66.052356,10.697248,9.884956,31.261232
34630,2025-02-04 14:00:00,Asia/Bangkok,65.621773,8.981651,8.211009,30.837054
34631,2025-02-04 15:00:00,Asia/Bangkok,65.999547,6.864865,6.314815,30.763442
34632,2025-02-04 16:00:00,Asia/Bangkok,66.354843,8.260000,7.132075,31.002684

In [7]:
import numpy as np

Q1 = df["pm_2_5"].quantile(0.25)
Q3 = df["pm_2_5"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = max(0, Q1 - 1.5 * IQR)
upper_bound = Q3 + 1.5 * IQR

df = df[(df["pm_2_5"] >= lower_bound) & (df["pm_2_5"] <= upper_bound)]
df

,timestamp,timezone,humidity,pm_10,pm_2_5,temperature
0,2021-02-11 12:00:00,Asia/Bangkok,72.026242,11.666667,10.563218,30.703949
1,2021-02-11 13:00:00,Asia/Bangkok,71.049230,10.465517,9.500000,30.923300
2,2021-02-11 14:00:00,Asia/Bangkok,68.774313,33.646552,24.765217,31.392388
3,2021-02-11 15:00:00,Asia/Bangkok,66.983002,11.017241,10.025862,32.060417
4,2021-02-11 16:00:00,Asia/Bangkok,69.181462,10.241379,9.465517,31.455106
...,...,...,...,...,...,...
34628,2025-02-04 12:00:00,Asia/Bangkok,67.834877,11.245098,10.660550,30.570333
34629,2025-02-04 13:00:00,Asia/Bangkok,66.052356,10.697248,9.884956,31.261232
34630,2025-02-04 14:00:00,Asia/Bangkok,65.621773,8.981651,8.211009,30.837054
34631,2025-02-04 15:00:00,Asia/Bangkok,65.999547,6.864865,6.314815,30.763442
34632,2025-02-04 16:00:00,Asia/Bangkok,66.354843,8.260000,7.132075,31.002684

In [8]:
import numpy as np

Q1 = df["pm_10"].quantile(0.25)
Q3 = df["pm_10"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = max(0, Q1 - 1.5 * IQR)
upper_bound = Q3 + 1.5 * IQR

df = df[(df["pm_10"] >= lower_bound) & (df["pm_10"] <= upper_bound)]
df

,timestamp,timezone,humidity,pm_10,pm_2_5,temperature
0,2021-02-11 12:00:00,Asia/Bangkok,72.026242,11.666667,10.563218,30.703949
1,2021-02-11 13:00:00,Asia/Bangkok,71.049230,10.465517,9.500000,30.923300
2,2021-02-11 14:00:00,Asia/Bangkok,68.774313,33.646552,24.765217,31.392388
3,2021-02-11 15:00:00,Asia/Bangkok,66.983002,11.017241,10.025862,32.060417
4,2021-02-11 16:00:00,Asia/Bangkok,69.181462,10.241379,9.465517,31.455106
...,...,...,...,...,...,...
34628,2025-02-04 12:00:00,Asia/Bangkok,67.834877,11.245098,10.660550,30.570333
34629,2025-02-04 13:00:00,Asia/Bangkok,66.052356,10.697248,9.884956,31.261232
34630,2025-02-04 14:00:00,Asia/Bangkok,65.621773,8.981651,8.211009,30.837054
34631,2025-02-04 15:00:00,Asia/Bangkok,65.999547,6.864865,6.314815,30.763442
34632,2025-02-04 16:00:00,Asia/Bangkok,66.354843,8.260000,7.132075,31.002684

In [9]:
import numpy as np

Q1 = df["humidity"].quantile(0.25)
Q3 = df["humidity"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = max(0, Q1 - 1.5 * IQR)
upper_bound = Q3 + 1.5 * IQR

df = df[(df["humidity"] >= lower_bound) & (df["humidity"] <= upper_bound)]
df

,timestamp,timezone,humidity,pm_10,pm_2_5,temperature
0,2021-02-11 12:00:00,Asia/Bangkok,72.026242,11.666667,10.563218,30.703949
1,2021-02-11 13:00:00,Asia/Bangkok,71.049230,10.465517,9.500000,30.923300
2,2021-02-11 14:00:00,Asia/Bangkok,68.774313,33.646552,24.765217,31.392388
3,2021-02-11 15:00:00,Asia/Bangkok,66.983002,11.017241,10.025862,32.060417
4,2021-02-11 16:00:00,Asia/Bangkok,69.181462,10.241379,9.465517,31.455106
...,...,...,...,...,...,...
34628,2025-02-04 12:00:00,Asia/Bangkok,67.834877,11.245098,10.660550,30.570333
34629,2025-02-04 13:00:00,Asia/Bangkok,66.052356,10.697248,9.884956,31.261232
34630,2025-02-04 14:00:00,Asia/Bangkok,65.621773,8.981651,8.211009,30.837054
34631,2025-02-04 15:00:00,Asia/Bangkok,65.999547,6.864865,6.314815,30.763442
34632,2025-02-04 16:00:00,Asia/Bangkok,66.354843,8.260000,7.132075,31.002684

In [10]:
import numpy as np

Q1 = df["temperature"].quantile(0.25)
Q3 = df["temperature"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = max(0, Q1 - 1.5 * IQR)
upper_bound = Q3 + 1.5 * IQR

df = df[(df["temperature"] >= lower_bound) & (df["temperature"] <= upper_bound)]
df

,timestamp,timezone,humidity,pm_10,pm_2_5,temperature
0,2021-02-11 12:00:00,Asia/Bangkok,72.026242,11.666667,10.563218,30.703949
1,2021-02-11 13:00:00,Asia/Bangkok,71.049230,10.465517,9.500000,30.923300
2,2021-02-11 14:00:00,Asia/Bangkok,68.774313,33.646552,24.765217,31.392388
3,2021-02-11 15:00:00,Asia/Bangkok,66.983002,11.017241,10.025862,32.060417
4,2021-02-11 16:00:00,Asia/Bangkok,69.181462,10.241379,9.465517,31.455106
...,...,...,...,...,...,...
34628,2025-02-04 12:00:00,Asia/Bangkok,67.834877,11.245098,10.660550,30.570333
34629,2025-02-04 13:00:00,Asia/Bangkok,66.052356,10.697248,9.884956,31.261232
34630,2025-02-04 14:00:00,Asia/Bangkok,65.621773,8.981651,8.211009,30.837054
34631,2025-02-04 15:00:00,Asia/Bangkok,65.999547,6.864865,6.314815,30.763442
34632,2025-02-04 16:00:00,Asia/Bangkok,66.354843,8.260000,7.132075,31.002684

In [11]:
df['hour'] = df['timestamp'].dt.hour
df['day'] = df['timestamp'].dt.day
df['month'] = df['timestamp'].dt.month
df

,timestamp,timezone,humidity,pm_10,pm_2_5,temperature,hour,day,month
0,2021-02-11 12:00:00,Asia/Bangkok,72.026242,11.666667,10.563218,30.703949,12,11,2
1,2021-02-11 13:00:00,Asia/Bangkok,71.049230,10.465517,9.500000,30.923300,13,11,2
2,2021-02-11 14:00:00,Asia/Bangkok,68.774313,33.646552,24.765217,31.392388,14,11,2
3,2021-02-11 15:00:00,Asia/Bangkok,66.983002,11.017241,10.025862,32.060417,15,11,2
4,2021-02-11 16:00:00,Asia/Bangkok,69.181462,10.241379,9.465517,31.455106,16,11,2
...,...,...,...,...,...,...,...,...,...
34628,2025-02-04 12:00:00,Asia/Bangkok,67.834877,11.245098,10.660550,30.570333,12,4,2
34629,2025-02-04 13:00:00,Asia/Bangkok,66.052356,10.697248,9.884956,31.261232,13,4,2
34630,2025-02-04 14:00:00,Asia/Bangkok,65.621773,8.981651,8.211009,30.837054,14,4,2
34631,2025-02-04 15:00:00,Asia/Bangkok,65.999547,6.864865,6.314815,30.763442,15,4,2
34632,2025-02-04 16:00:00,Asia/Bangkok,66.354843,8.260000,7.132075,31.002684,16,4,2

In [12]:
df1 = df.set_index('timestamp')
df1 = df1.sort_index()  # เรียงลำดับตามเวลา
df1

,timezone,humidity,pm_10,pm_2_5,temperature,hour,day,month
timestamp,,,,,,,,
2021-02-11 12:00:00,Asia/Bangkok,72.026242,11.666667,10.563218,30.703949,12,11,2
2021-02-11 13:00:00,Asia/Bangkok,71.049230,10.465517,9.500000,30.923300,13,11,2
2021-02-11 14:00:00,Asia/Bangkok,68.774313,33.646552,24.765217,31.392388,14,11,2
2021-02-11 15:00:00,Asia/Bangkok,66.983002,11.017241,10.025862,32.060417,15,11,2
2021-02-11 16:00:00,Asia/Bangkok,69.181462,10.241379,9.465517,31.455106,16,11,2
...,...,...,...,...,...,...,...,...
2025-02-04 12:00:00,Asia/Bangkok,67.834877,11.245098,10.660550,30.570333,12,4,2
2025-02-04 13:00:00,Asia/Bangkok,66.052356,10.697248,9.884956,31.261232,13,4,2
2025-02-04 14:00:00,Asia/Bangkok,65.621773,8.981651,8.211009,30.837054,14,4,2
2025-02-04 15:00:00,Asia/Bangkok,65.999547,6.864865,6.314815,30.763442,15,4,2
2025-02-04 16:00:00,Asia/Bangkok,66.354843,8.260000,7.132075,31.002684,16,4,2

In [13]:
df2 = df1.drop(columns=['timezone', 'pm_10'])
df2

                      humidity     pm_2_5  temperature  hour  day  month
timestamp
2021-02-11 12:00:00  72.026242  10.563218    30.703949    12   11      2
2021-02-11 13:00:00  71.049230   9.500000    30.923300    13   11      2
2021-02-11 14:00:00  68.774313  24.765217    31.392388    14   11      2
2021-02-11 15:00:00  66.983002  10.025862    32.060417    15   11      2
2021-02-11 16:00:00  69.181462   9.465517    31.455106    16   11      2
...                        ...        ...          ...   ...  ...    ...
2025-02-04 12:00:00  67.834877  10.660550    30.570333    12    4      2
2025-02-04 13:00:00  66.052356   9.884956    31.261232    13    4      2
2025-02-04 14:00:00  65.621773   8.211009    30.837054    14    4      2
2025-02-04 15:00:00  65.999547   6.314815    30.763442    15    4      2
2025-02-04 16:00:00  66.354843   7.132075    31.002684    16    4      2

[32870 rows x 6 columns]

In [14]:
s = setup(df2, target = 'pm_2_5', session_id = 123, train_size=0.8, iterative_imputation_iters=100, remove_outliers = True)

In [15]:
exp = RegressionExperiment()
exp.setup(df2, target = 'pm_2_5', session_id = 123, train_size=0.8)

In [16]:
best = compare_models()

In [17]:
best = create_model('et')

In [18]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [19]:
holdout_pred = predict_model(best)

In [20]:
holdout_pred.head()

,humidity,temperature,hour,day,month,pm_2_5,prediction_label
timestamp,,,,,,,
2024-03-14 14:00:00,61.615280,34.747292,14,14,3,12.594828,15.464618
2024-10-05 20:00:00,94.129616,26.601343,20,5,10,12.670886,13.040990
2024-08-03 09:00:00,93.134674,28.302616,9,3,8,23.782608,20.292710
2022-10-07 10:00:00,90.905571,27.176933,10,7,10,2.315789,5.280251
2022-05-12 04:00:00,92.033722,25.191654,4,12,5,11.834783,9.113103

In [21]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# ดึงค่าจริงจาก test_df
actual_val = holdout_pred['pm_2_5']

# ดึงค่าทำนายจาก forecast
forecast_val = holdout_pred['prediction_label']

# คำนวณ MAE
mae = mean_absolute_error(actual_val, forecast_val)

# คำนวณ MSE
mse = mean_squared_error(actual_val, forecast_val)

# คำนวณ RMSE
rmse = np.sqrt(mse)

# คำนวณ MAPE
def calculate_mape(actual_val, forecast_val):
    return np.mean(np.abs((actual_val - forecast_val) / actual_val)) * 100

mape = calculate_mape(actual_val, forecast_val)

# คำนวณ R²
r2 = r2_score(actual_val, forecast_val)

# คำนวณความแม่นยำ (Accuracy)
mean_actual = np.mean(actual_val)
accuracy = (1 - (mae / mean_actual)) * 100

# แสดงผลลัพธ์
print(f"MAE: {mae:.4f}")
print(f"MSE: {mse:.4f}")
print(f"RMSE: {rmse:.4f}")
print(f"MAPE: {mape:.2f}%")
print(r2)
print(f"R² (ความแม่นยำ): {r2 * 100:.2f}%")
print(f"ความแม่นยำ (Accuracy): {accuracy:.2f}%")

MAE: 5.6132
MSE: 59.0067
RMSE: 7.6816
MAPE: 147.00%
0.5836103471882128
R² (ความแม่นยำ): 58.36%
ความแม่นยำ (Accuracy): 63.20%

In [22]:
print(type(best))

<class 'sklearn.ensemble._forest.ExtraTreesRegressor'>

In [23]:
save_model(best, 'best_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['humidity', 'temperature', 'hour',
                                              'day', 'month'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('remove_outliers',
                  TransformerWrapper(transformer=RemoveOutliers(random_state=123))),
                 ('trained_model',
                  ExtraTreesRegressor(n_jobs=-1, random_state=123))]),
 'best_model.pkl')